Django==1.7.4
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gensim==0.10.3
geopy==1.8.1
gunicorn==19.0.0
numpy==1.8.1
pandas==0.15.2
patsy==0.3.0
psycopg2==2.5.3
pymongo==2.8
python-dateutil==2.4.0
pytz==2014.10
scipy==0.14.0
six==1.9.0
static3==0.5.1
statsmodels==0.6.1
whitenoise==1.0.6
wsgiref==0.1.2